html {
    ::-webkit-scrollbar {
        width: 10px;


        @include media('<tablet') {
            width: 5px;
        }
    }

    ::-webkit-scrollbar-track {
        background-color: #F1EFEC;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #e2e7e7;
        border-radius: 10px;
    }
}

body {
    background-color: #F1EFEC;
}

.container {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.text {
    color: #2F2619;
    text-align: justify;
    font-family: 'Gabriela';
    @include adaptive-value("font-size", 20, 16, 1);
    line-height: 130%;
    text-indent: 30px;
}

.main_history {
    background: radial-gradient(149.35% 94.22% at 50% 9.11%, #F8F2E8 0%, #D5C5AD 100%);
    width: 100%;
    height: 100dvh;
    padding: 220px 0 140px 0;
    overflow: hidden;
    position: relative;

    @include media('<desktop') {
        height: 100%;
        padding-top: 150px;
        padding-bottom: 20px;
    }

    .container {
        height: 100%;
    }

    .main_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 70% 100%;
        }
    }

    .content {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include media('<desktop') {
            flex-direction: column;
            gap: 20px;
        }

        @include media('<tablet') {
            align-items: flex-end;
        }
    }

    .main_title {
        color: #2F2619;
        font-family: "Gabriela";
        @include adaptive-value("font-size", 102, 36, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -5.1px;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        width: 100%;
        position: relative;
        z-index: 2;

        @include media('<desktop') {
            letter-spacing: -1.8px;
        }

        .title_elem {
            display: inline-block;

            &:nth-child(1) {
                @include adaptive-value("margin-left", 90, 30, 1);
            }

            &:nth-child(3) {
                @include adaptive-value("margin-left", 90, 30, 1);
            }
        }
    }

    .person {
        max-width: 500px;
        max-height: 900px;
        height: 85vh;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        z-index: 1;

        @include media('<desktop') {
            position: static;
            max-height: 590px;
            transform: translateY(0);
            @include adaptive-value("margin-top", -130, -95, 1);
            width: auto;
            max-width: 100%;
        }

        @include media('<phone') {
            margin-right: -60px;
        }
    }
}

.history_1 {
    margin-top: -60px;
    position: relative;
    z-index: 1;
    @include adaptive-value("height", 1515, 635, 1);
    overflow: hidden;

    @include media('>1530px') {
        margin-top: -100px;
        height: 100%;
        aspect-ratio: 4/4;
    }

    .main_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;

            @include media('<tablet') {
                object-fit: cover;
            }
        }
    }

    .title {
        color: #2F2619;
        text-align: center;
        font-family: Gabriela;
        @include adaptive-value("font-size", 52, 30, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        max-width: 980px;
        width: calc(100% - 30px);
        margin: 0 auto;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        @include media('>1530px') {
            font-size: 72px;
            max-width: 1300px;
        }

        @include media('<tablet') {
            top: 6%;
        }
    }

    .text {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 1210px;
        width: calc(100% - 30px);
        mix-blend-mode: multiply;
    }
}

.history_2 {
    @include adaptive-value("padding-top", 100, 50, 1);
    @include adaptive-value("padding-bottom", 100, 50, 1);
    overflow: hidden;

    .content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include adaptive-value("gap", 120, 20, 1);

        @include media('<desktop') {
            flex-direction: column-reverse;
        }
    }

    .text_content {
        max-width: 640px;
        width: 100%;
    }

    .text_title {
        color: #2F2619;
        text-align: start;
        font-family: Gabriela;
        @include adaptive-value(" font-size", 52, 26, 1);
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-weight: 400;

        @include media('<phone') {
            text-align: start;
        }
    }

    .text {
        color: #2F2619;
        text-align: justify;
        font-family: "Gabriela";
        @include adaptive-value("font-size", 20, 16, 1);
        line-height: 130%;
        text-indent: 35px;
    }

    .text_1 {
        margin-bottom: 10px;
    }

    .history_2_img {
        max-width: 440px;
        width: 100%;

        @include media('<phone') {
            height: auto;
            width: 120%;
        }

        img {
            width: 100%;
            height: 100%
        }
    }
}

.history_8 {
    position: relative;
    @include adaptive-value("padding-top", 180, 70, 1);
    @include adaptive-value("padding-bottom", 180, 60, 1);
    overflow: hidden;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .history_8_img {
        width: 49%;

        @include media('<tablet') {
            width: 100%;
        }

        @include media('<phone') {
            width: 120%;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .text_wrap {
        width: 49%;

        @include media('<desktop') {
            width: 100%;
        }
    }

    .text {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

.history_9 {
    .content {
        flex-direction: row-reverse;

        @include media('<desktop') {
            flex-direction: column
        }
    }
}

.history_3 {
    @include adaptive-value("height", 1005, 300, 1);
    position: relative;

    @include media('<tablet') {
        height: 870px;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
        max-width: 1240px;
        width: calc(100% - 30px);
        position: absolute;
        @include adaptive-value(" top", 100, -50, 1);
        left: 50%;
        transform: translateX(-50%);

        @include media('<desktop') {
            flex-direction: column;
            top: 80px;
        }
    }

    .text_title {
        max-width: 505px;
        width: 100%;
        color: #2F2619;
        font-family: "Gabriela";
        @include adaptive-value(" font-size", 52, 28, 1);
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;

        @include media('<desktop') {
            max-width: 100%;
        }

        @include media('<tablet') {
            text-align: start;
        }
    }

    .text_wrap {
        max-width: 670px;

        width: 100%;

        @include media('<desktop') {
            max-width: 100%;
        }
    }

    .text {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

.history_4 {
    @include adaptive-value("padding-top", 100, 50, 1);
    @include adaptive-value("padding-bottom", 100, 50, 1);
    overflow: hidden;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .history_4_img {
        max-width: 790px;
        width: 100%;

        @include media('<phone') {
            width: 130%;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .text_content {
        max-width: 440px;
        width: 100%;

        @include media('<desktop') {
            max-width: 100%;
        }
    }

    .text_1 {
        margin-bottom: 5px;
    }

    .author {
        display: inline-block;
        text-align: end;
        color: #2F2619;
        text-align: right;
        font-family: Gabriela;
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        margin-top: 40px;
        font-weight: 600;
    }
}

.history_5 {
    position: relative;
    width: 100%;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .main_container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .bg_2 {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 900px;
        height: 100%;

        @include media('<desktop') {
            position: static;
            max-width: 100%;
        }

        img {
            height: 100%;
            width: 100%;

            @include media('<650px') {
                margin-top: -65px;
            }
        }
    }

    .container {
        height: 100%;
        @include adaptive-value("padding-top", 160, 60, 1);
        @include adaptive-value("padding-bottom", 160, 60, 1);

        @include media('<desktop') {
            padding-bottom: 50px;
        }

        @include media('<650px') {
            padding-bottom: 0px;
        }
    }

    .content {
        max-width: 585px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 1;

        @include media('<desktop') {
            max-width: 100%;
        }
    }

    .title {
        color: #2F2619;
        font-family: Gabriela;
        @include adaptive-value(" font-size", 52, 28, 1);
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 40px;
        @include adaptive-value("margin-bottom", 40, 20, 1);

        @include media('<tablet') {
            text-align: start;
        }
    }

    .text_1 {
        margin-bottom: 5px;
    }
}

.history_6 {
    @include adaptive-value("padding-top", 150, 60, 1);
    padding-bottom: 180px;
    position: relative;
    z-index: 1;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        @include media('<1440px') {
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media('<tablet') {
            flex-direction: column-reverse;
        }
    }

    .text_wrapper {
        width: 50%;
        text-align: end;

        @include media('<tablet') {
            width: 100%;
        }
    }

    .text_content {
        width: 310px;
        margin: 0 auto;

        @include media('<phone') {
            width: 100%;
        }
    }

    .poem_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin-bottom: 20px;
        text-align: start;
    }

    .poem {
        color: #2F2619;
        font-family: Gabriela;
        @include adaptive-value("font-size", 20, 16, 1);
        line-height: 130%;
    }

    .author {
        color: #2F2619;
        font-family: Gabriela;
        font-size: 16px;
        line-height: 130%;
        display: inline-block;
        text-align: end;
        max-width: 260px;
        width: 100%;
        font-weight: 600;
    }

    .img_desktop {
        max-width: 760px;
        width: 100%;

        @include media('<phone') {
            display: none;
        }
    }

    .img_phone {
        display: none;

        @include media('<phone') {
            display: block;
        }
    }

    .elem_1,
    .elem_2 {
        display: none;
    }

    .elem_1 {
        position: absolute;
        right: 0;
        bottom: 100px;
        max-width: 250px;

        @include media('<phone') {
            display: block;
        }
    }

    .elem_2 {
        position: absolute;
        left: 0;
        bottom: 40px;
        max-width: 300px;
        height: 120px;

        @include media('<phone') {
            display: block;
        }
    }
}

.history_7 {
    background-color: #0A0805;
    @include adaptive-value("padding-top", 220, 150, 1);
    @include adaptive-value("padding-bottom", 65, 55, 1);
    margin-top: -100px;

    .main_container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        gap: 50px;

        @include media('<desktop') {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .text_content {
        max-width: 585px;
        width: 100%;

        @include media('<desktop') {
            max-width: 100%;
            padding: 0 15px;
        }
    }

    .title {
        color: #FFF;
        font-family: 'Gabriela';
        @include adaptive-value("font-size", 52, 28, 1);
        font-weight: 400;
        line-height: 130%;
        text-transform: uppercase;
        @include adaptive-value("margin-bottom", 40, 20, 1);
    }

    .text {
        color: #FFF;
    }

    .history_7_img {
        max-width: 705px;
        width: 100%;

        @include media('<desktop') {
            width: 100%;
            max-width: 650px;
        }

        @include media('<tablet') {
            width: 95%;
        }

        img {
            width: 100%;
            height: 100%
        }
    }
}

.contact {
    @include adaptive-value("padding-top", 305, 70, 1);
    @include adaptive-value("padding-bottom", 305, 70, 1);
    position: relative;

    @include media('<desktop') {
        height: 100dvh;
    }

    .container {
        height: 100%;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include adaptive-value("gap", 80, 55, 1);
        max-width: 585px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .title {
        color: #FFF;
        text-align: center;
        font-family: Gabriela;
        @include adaptive-value("font-size", 32, 20, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    .white_btn {
        border-radius: 12px;
        background: #FFFDF9;
        padding: 24px;
        @include adaptive-value("padding-top", 24, 15, 1);
        @include adaptive-value("padding-bottom", 24, 15, 1);
        max-width: 370px;
        width: calc(100% - 20px);
        color: #0C0C0C;
        text-align: center;
        font-family: "Gabriela";
        @include adaptive-value("font-size", 32, 28, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        display: inline-block;
        transition: all .3s ease 0s;

        &:hover {
            background-color: #FFCE00;
            transition: all .3s ease 0s;
        }
    }
}