#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 1;

    .container {
        max-width: 1270px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .history_logo {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 18, 10, 1);

        &:hover {
            .kurai_logo {
                transform: rotateZ(720deg);
                transition: transform 1s ease-in-out 0s;
            }
        }

        .kurai_logo {
            @include adaptive-value("margin-bottom", 20, 15, 1);
            @include adaptive-value("width", 47, 27, 1);
        }

        .kurai_name {
            @include adaptive-value("width", 165, 95, 1);
        }
    }
}